<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="output.css">
</head>
<body class="p-10 text-black-100">
    <section class="bg-red-100 rounded-l-2xl p-5 mb-10">
        <div class="container mx-auto">
            <div class="flex">
                <a  class="text-3xl font-bold pr-5 mr-5 border-r border-blue-300" href="index.html">Agency</a>
                <div class="my-auto">
                    <ul class="flex font-bold text-green-600">
                        <li class="pr-5"><a class="px-3 py-2 border border-purple-100 hover:border-purple-300" href="">Home</a></li>
                        <li class="pr-5"><a class="px-3 py-2 border border-purple-100 hover:border-purple-300" href="">address</a></li>
                        <li class="pr-5"><a class="px-3 py-2 border border-purple-100 hover:border-purple-300" href="">public</a></li>
                        <li class="pr-5"><a class="px-3 py-2 border border-purple-100 hover:border-purple-300" href="">contact</a></li>
                        <li class="pr-5"><a class="px-3 py-2 border border-purple-100 hover:border-purple-300" href="">ui</a></li>
</ul>
                    <div class="w-1/2">
                        <img src="hero2.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>